{{ define "main" }}
<article class="page-content">
    <header class="page-header">
        <h1>{{ .Title }}</h1>
        {{ with .Params.description }}
        <h2>{{ . }}</h2>
        {{ end }}
    </header>
    
    <!-- Calendly inline widget begin -->
    <section>
        <div class="calendly-inline-widget" data-url="{{ .Params.calendly_url }}" data-resize="true" style="min-width:320px;height:700px;"></div>
    </section>
    <!-- Calendly inline widget end -->
</article>
{{ end }}

{{ define "page-css" }}
    {{ $meetwithmeCSS := resources.Get "css/meetwithme.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $meetwithmeCSS.RelPermalink }}">
{{ end }}

{{ define "page-js" }}
    <!-- Load Calendly script for meeting pages -->
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
{{ end }}