{{ define "main" }}
{{ $pdfFound := false }}
{{ $pdfPath := "" }}
{{ with os.ReadDir "static" }}
    {{ range . }}
        {{ if and (not $pdfFound) (hasPrefix .Name "Davis_CV") (hasSuffix .Name ".pdf") }}
            {{ $pdfFound = true }}
            {{ $pdfPath = .Name }}
        {{ end }}
    {{ end }}
{{ end }}

<article class="page-content">
    <header class="page-header">
        {{ if .Parent }}
        <h2 class="breadcrumb">
            <a href="{{ .Parent.RelPermalink }}">{{ .Parent.Section | title }}</a>
        </h2>
        {{ end }}
        <h1>{{ .Title }}</h1>
        <h2><a href="{{ $pdfPath | relURL }}" download class="cv-download-link">Download</a> my most recent CV <a href="{{ $pdfPath | relURL }}" download class="cv-download-link">↓</a></h2>
    </header>

    {{ if $pdfFound }}
    <section>
        <div class="pdf-viewer">
            <iframe src="{{ $pdfPath | relURL }}" title="Clay Davis CV" loading="lazy"></iframe>
        </div>
    </section>
    {{ end }}
</article>
{{ end }}

{{ define "page-css" }}
    {{ $cvCSS := resources.Get "css/cv.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $cvCSS.RelPermalink }}">
{{ end }} 