{{ define "main" }}
<article class="page-content">
    <header class="page-header">
        <h1><a href="{{ .Parent.RelPermalink }}">Research</a> › Essays</h1>
        {{ with .Params.description }}
        <h2>{{ . }}</h2>
        {{ end }}
    </header>
    
    <section class="content-list">
        {{ range .RegularPages.ByDate.Reverse }}
        <a href="{{ .RelPermalink }}" class="content-item">
            {{ if .Params.cover_image }}
            <div class="content-item-image">
                {{ partial "image-processor.html" (dict "src" (printf "images/%s" .Params.cover_image) "alt" (printf "Cover image for %s" .Title) "type" "list" "loading" "lazy") }}
            </div>
            {{ end }}
            <div class="content-item-content">
                <h4>{{ .Title }}</h4>
                <div class="content-meta">
                    <div class="content-meta-line">
                        {{ with .Params.author }}{{ . }}{{ end }}{{ if and .Params.author .Params.date }} &middot; {{ end }}{{ with .Params.date }}<time datetime="{{ .Format "2006-01-02" }}">{{ .Format "2006" }}</time>{{ end }}
                    </div>
                    {{ with .Params.journal }}<cite>{{ . }}</cite>{{ end }}
                </div>
            </div>
        </a>
        {{ end }}
    </section>
</article>
{{ end }}

{{ define "page-css" }}
    {{ $listCSS := resources.Get "css/list.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $listCSS.RelPermalink }}">
    {{ $pageCSS := resources.Get "css/publications.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $pageCSS.RelPermalink }}">
{{ end }} 