.pdf-viewer {
  inline-size: 100%;
  aspect-ratio: 8.5 / 11;
  min-block-size: 300px;
  max-block-size: min(75vh, 750px);
}

.pdf-viewer iframe {
  inline-size: 100%;
  block-size: 100%;
  border: none;
}

.cv-download-link {
  text-decoration: none;
}