.pdf-viewer {
  inline-size: 100%;
  aspect-ratio: 8.5 / 11;
  min-block-size: 300px;
  max-block-size: min(75vh, 750px);
}

.pdf-viewer iframe {
  inline-size: 100%;
  block-size: 100%;
  border: none;
}

/* Show desktop header by default, hide mobile header */
.cv-header-desktop {
  display: block;
}

.cv-header-mobile {
  display: none;
}

/* Mobile: Hide iframe and switch headers */
@media (max-width: 775px) {
  .cv-header-desktop {
    display: none;
  }
  
  .cv-header-mobile {
    display: block;
  }
  
  .pdf-viewer {
    display: none;
  }
}