{{ define "main" }}
<article class="page-content">
    <header class="page-header">
        {{ if and .Parent .Parent.Parent }}
        <h2 class="breadcrumb">
            <a href="{{ .Parent.Parent.RelPermalink }}">{{ .Parent.Parent.Section | title }}</a> › <a href="{{ .Parent.RelPermalink }}">{{ .Parent.Title }}</a>
        </h2>
        {{ end }}
        <h1>{{ .Title }}</h1>
        {{ if or .Params.author .Date }}
        <h2>
            <time datetime="{{ .Date.Format "2006-01-02" }}">
                {{ with .Params.author }}{{ . }}{{ end }}{{ if and .Params.author .Date }} · {{ end }}{{ with .Date }}{{ .Format "2006" }}{{ end }}
            </time>
        </h2>
        {{ end }}
        {{ with .Description }}
        <h3>{{ . }}</h3>
        {{ end }}
    </header>
    
    {{ if .Content }}
    <section class="content-body">
        {{ .Content }}
    </section>
    {{ end }}
</article>
{{ end }}

{{ define "page-css" }}
    {{ $singleCSS := resources.Get "css/single.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $singleCSS.RelPermalink }}">
{{ end }}
