<nav class="contact-icons" aria-label="Contact information">
    <a {{ printf `href="mailto:%s"` .Site.Params.contact.email | safeHTMLAttr }} class="contact-link" aria-label="Email">
        {{ readFile "static/icons/email.svg" | safeHTML }}
    </a>
    <a {{ printf `href="%s"` .Site.Params.contact.scholar | safeHTMLAttr }} class="contact-link" aria-label="Google Scholar">
        {{ readFile "static/icons/google-scholar.svg" | safeHTML }}
    </a>
    <a {{ printf `href="%s"` .Site.Params.contact.bluesky | safeHTMLAttr }} class="contact-link" aria-label="Bluesky">
        {{ readFile "static/icons/bluesky.svg" | safeHTML }}
    </a>
</nav>
