{{/*
Simple image processing - just optimize images, let CSS handle sizing.
Usage: {{ partial "image-processor.html" (dict "src" "images/photo.jpg" "alt" "Description") }}
*/}}

{{- $src := .src -}}
{{- $alt := .alt -}}

{{- with resources.Get $src -}}
  {{/* Resize to high resolution for sharp display, maintain aspect ratio */}}
  {{- $resized := .Resize "1000x" -}}
  {{- $webp := $resized.Resize "1000x webp" -}}
  <picture>
    <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
    <img src="{{ $resized.RelPermalink }}" 
         alt="{{ $alt }}" 
         loading="lazy" />
  </picture>
{{- else -}}
  <div>Image not found: {{ $src }}</div>
{{- end -}}


