{{/*
Simple image processing - just optimize images, let CSS handle sizing.
Usage: {{ partial "image-processor.html" (dict "src" "images/photo.jpg" "alt" "Description") }}
*/}}

{{- $src := .src -}}
{{- $alt := .alt -}}
{{- $priority := .priority | default false -}}

{{- with resources.Get $src -}}
  {{/* Create multiple sizes for responsive loading */}}
  {{- $small := .Resize "400x webp" -}}
  {{- $medium := .Resize "800x webp" -}}
  {{- $large := .Resize "1200x webp" -}}
  {{- $smallJpg := .Resize "400x" -}}
  {{- $mediumJpg := .Resize "800x" -}}
  {{- $largeJpg := .Resize "1200x" -}}
  
  <picture>
    <source 
      srcset="{{ $small.RelPermalink }} 400w, {{ $medium.RelPermalink }} 800w, {{ $large.RelPermalink }} 1200w" 
      sizes="(max-width: 768px) 400px, (max-width: 1024px) 800px, 1200px"
      type="image/webp">
    <img src="{{ $smallJpg.RelPermalink }}" 
         srcset="{{ $smallJpg.RelPermalink }} 400w, {{ $mediumJpg.RelPermalink }} 800w, {{ $largeJpg.RelPermalink }} 1200w"
         sizes="(max-width: 768px) 400px, (max-width: 1024px) 800px, 1200px"
         alt="{{ $alt }}" 
         loading="{{ if $priority }}eager{{ else }}lazy{{ end }}"
         {{ if $priority }}fetchpriority="high"{{ end }}
         decoding="async" />
  </picture>
{{- else -}}
  <div>Image not found: {{ $src }}</div>
{{- end -}}


